/*import contImage2 from "/src/assets/images/bg-rick-y-morty-2.jpg";*/

.container {
  /* background-color: mediumorchid; */
  /* display: flex; */
  /* justify-content: center; */
  /* letter-spacing: .1rem; */
}

.container__image img {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -10;
  opacity: 0.095;
}

.serie__name {
  margin: 1rem;
  padding: 1rem;
  /* background-color: mediumorchid; */
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.075rem;
  color: whitesmoke;
  font-weight: 700;
}

.form {
  padding: 0.2rem;
  margin: 0.2rem;
  text-align: center;
}

.form input {
  /* background-color: red; */
  padding: 0.5rem 1rem;
  margin-inline: 0.5rem;
  min-width: 90%;
  border-radius: 1rem;
  /* font-size: 1rem; */
  border: 1px solid transparent;
}

.form:focus input {
  outline: none;
  text-decoration: none;
}

.form button {
  /* background-color: hsl(192, 58%, 50%); */
  color: hsl(192, 58%, 50%);

  margin: 1rem;
  width: 90%;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  border: 1px solid hsl(192, 58%, 50%);
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.055rem;
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.form:hover button {
  background-color: hsl(192, 58%, 50%);
  color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

.location__name {
  /* background-color: red; */
  margin-inline: 1rem;
  /* display: unset; */
  text-align: left;
  color: rgb(226, 240, 32);

  /* justify-content: unset; */
  letter-spacing: .12rem;

}

.location__dates {
  /* background-color: mediumslateblue; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: left; */
  /* flex-direction: column; */
  /* margin-inline: .1rem; */
  letter-spacing: .1rem;
  
}

.location__dates-item {
  border: 1px solid rgba(239, 239, 239, 0.35);

  padding: 1rem;
  width: 100%;

  border-radius: 0.75rem;
  text-align: left;
  justify-content: left;
  color: rgb(226, 240, 32);

  margin: 0.5rem 0.75rem;
  /* background-color: red; */
}

.location__dates-item h4 {
  /* gap:1rem; */
  margin-bottom: 0.35rem;
}

.location__dates-item span {
  color: white;
}

.residents {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* width: 40rem; */
  /* background-color: red; */
  /* text-align: center; */
}

.resident__date-item {
  max-width: 100%;
  /* max-height: 100%; */

  /* background-color: rgb(86, 105, 110);
   */
  background-color: hsla(192, 59%, 42%, 0.5);
  margin: 2rem 1rem;

  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 0 1rem 0;
  /* padding-inline: 1rem; */
  border-radius: 0.5rem;
  /* gap:1rem; */
  /* flex-wrap: wrap; */
  /* text-align: left; */
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.resident__date-item:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.resident__image img {
  /* margin-inline: 1rem; */

  width: 100%;
  /* max-height: 100%; */
  /* object-fit: fill; */
  /* text-align: center; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* z-index: -2; */
  opacity: 0.9;
  border-radius: 0.5rem 0.5rem 0 0;
}

.resident__name-item {
  font-size: 1.2rem;
  margin: 0.45rem 0.25rem;
  padding: 0.45rem 0.25rem;
  color: rgb(226, 240, 32);
  /* background-color: mediumblue; */
  /* position: absolute; */
  /* top: -10rem; */
  /* z-index: 7; */
  letter-spacing: .1rem;

}

.date__basic {
  /* background-color: ; */
  /* position: relative; */
  border-radius: 1rem;
  border: 1px solid rgba(239, 239, 239, 0.35);
  /* z-index: 1; */
  padding: 1rem;
  /* row-gap: 1rem; */
  margin: 0.75rem;
  letter-spacing: .05rem;

}

.date__basic :is(.resident__origin-name, .resident__species) {
  display: unset;
}

.date__basic h6 {
  padding: 0.2rem;

  color: rgb(226, 240, 32);
  /* background-color: magenta; */
}

.date__basic h6 span {
  color: white;
}

.resident__episode {
  display: flex;
  flex-wrap: wrap;

  /* max-width: 10rem; */
}

.resident__episode-id {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center; */
}

/* .Alive {
  background-color: greenyellow;
  border-radius: 50%;
  width: 0.1rem;
  height: 0.1rem;
}

.Dead {
  background-color: red;
  border-radius: 50%;
  width: 0.1rem;
  height: 0.1rem;
} */
/*
.estado {
	background: var(--color-secondary);
	display: inline-flex;
	color: var(--color-light);
	padding: 0.5rem 1rem;
	border-radius: 2.5rem;
	font-size: 1.2rem;
	justify-content: space-between;
	align-items: center;
	column-gap: 1rem;
}

*/

.date__basic .status {
  margin-inline: auto 1.5rem;
  /* text-align: center; */
  /* justify-content: center; */
}
.date__basic span {
  /* width: auto; */

  display: inline-flex;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
}

.Alive {
  /* margin-left: 2.5rem; */
  background: #31a703;
  color: #31a703;
  /* transform: translateX(2rem); */
}
.Dead {
  background: #d34b4b;
  color: #d34b4b;
}
.unknown {
  background: #afafaf;
  color: #afafaf;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    /* background-color: mediumorchid; */
    max-width: 35rem;
    margin-inline: auto;
    /* margin: 1rem; */
    padding: 1rem;
  }

  .residents {
    max-width: 30rem;
    margin-inline: auto;
  }

  .serie__name {
    font-size: 2rem;
  }

  .resident__name-item {
    font-size: 1.5rem;
    margin: 0.75rem 1.25rem;
  }

  .date__basic {
    /* position: relative; */
    border-radius: 1rem;
    /* border: 1px solid rgba(239, 239, 239, 0.35); */
    /* z-index: 1; */
    padding: 1.2rem;
    /* row-gap: 1rem; */
    margin: 1.1rem;
    font-size: 1.125rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .resident__date-item {
    margin: 1rem;
  }

  .container__image img {
    /*background-image: url('src/assets/images/bg-desktop.gif');
background-position: center;
background-repeat: no-repeat;
background-size: contain;
*/
    /*
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -5;
  opacity: 0.05;*/
  }

  .container {
    /* background-color: mediumseagreen; */
    max-width: 50rem;
    /* margin-inline: auto; */
    /* margin: 1rem; */
    padding: 1.5rem;
  }

  .serie__name {
    font-size: 2.3rem;
  }

  .form {
    padding: 0.2rem;
    margin: 0.2rem;
    /*text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form input {
    padding: 1.05rem;
    min-width: 70%;
    height: 1.5rem;
  }

  .form button {
    height: 2.5rem;
    padding: 0.5rem;
  }

  .location__dates-item {
    display: flex;
    justify-content: space-between;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 850px) {
  .container {
    /* background-color: mediumseagreen; */
    max-width: 95%;
    /* margin-inline: auto; */
    /* margin: 1rem; */
    padding: 0.5rem;
    /* display: flex;  */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: row; */
  }

  .residents {
    /* background-color: mediumslateblue; */
    max-width: 100%;
    /* height: 45rem; */
    /* margin-inline: auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    /* width: 10rem; */
    padding: 0.5rem;
    /* width: 70rem; */
    margin: 0.5rem;
  }

  .residents__dates {
    width: 100%;
    /* height: 45rem; */
    display: flex;
    /* background-color: paleturquoise; */
    /* justify-content: center; */
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    /* flex-direction: row; */
  }

  .resident__date-item {
    max-width: 100%;
    /* background-color: palegoldenrod; */
    margin: .65rem;
    padding: 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    display: flex;

    /* position: absolute; */
    overflow: hidden;
  }
  .wrapper__resident {
    /* border-radius: 2rem; */
    /* background-color: peru; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .resident__date-item img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 0 1.75rem 1.75rem 0;

    /* overflow: hidden; */
  }

  .resident__name {
    /* background-color: red; */
    position: absolute;
    /* padding: auto; */
    /* top: 0; */
    /* overflow: hidden; */
  }
  .resident__name-item {
    background-color: hsla(192, 59%, 42%, 0.5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 6rem;
   top: 7rem;
  
    border-radius: 2rem;
    padding: .2rem 0.75rem;
    /* margin-inline: auto; */
    /* flex-direction: column; */
    /* text-orientation: mixed; */
    font-size: 1.6rem;
    box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.45);


    /* overflow: hidden; */
  }

  .date__basic {
    max-width: 20rem;
    /* position: relative; */
    border-radius: 1rem;
    /* border: 1px solid rgba(239, 239, 239, 0.35); */
    /* z-index: 1; */
    padding: 1.75rem 1.5rem;
    /* row-gap: 1rem; */
    margin: 1rem;
    font-size: 1.3rem;
}

/* .resident__episode{
  display: inline-flex;
} */


}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .form {
    /* padding: 0.2rem; */
    margin-inline: auto;
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    max-width: 70%;
  }

  .location__dates-item {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin-inline: auto;
  }

  .location__name {
    /* background-color: red; */
    margin-inline: 1rem;
    /* display: unset; */
    text-align: left;
    color: rgb(226, 240, 32);

    max-width: 70%;
    margin-inline: auto;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
