.container {
  overflow-x: hidden;
  margin-block: 35rem 5rem;
}

.container__image-header img {
  position: absolute;
  width: 100%;
  left: 50%;
  top: -25%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -10%);
  z-index: -7;
  opacity: 0.75;
}

.container__image img {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -10;
  opacity: 0.095;
}

.image {
  position: absolute;
}

.card__image img {
  position: relative;
  width: 40%;
  left: 40%;
  top: 5%;
  height: 40%;
  object-fit: contain;
  z-index: -5;
  opacity: 0.075;
  border-radius: unset;
}

.serie__name {
  margin: 0 1rem;
  padding: 0 1rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.075rem;
  color: whitesmoke;
  font-weight: 700;
}

.form {
  /* background-color: palevioletred; */
  padding: 0.2rem;
  margin: 0.2rem;
  /* max-width: 50%; */
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.form input {
  padding: 0.5rem 1rem;
  margin-inline: 0.5rem;
  width: 40%;
  border-radius: 1rem;
  border: 1px solid transparent;
}

.form input:focus {
  outline: none;
  text-decoration: none;
  border: 1px solid transparent;
}

.form button {
  color: hsl(192, 58%, 50%);
  margin: 1rem;
  width: 10%;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  border: 1px solid hsl(192, 58%, 50%);
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.055rem;
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.form:hover button {
  background-color: hsl(192, 58%, 50%);
  color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

.suggestions {
  /* background-color: mediumorchid; */
  display: flex;
  color: rgb(189, 189, 189);
  width: 30%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* flex-direction:column; */
}

.suggestions-item {
  /* background-color: red; */
  cursor: pointer;
  margin: 0.095rem;
  border-radius: 1rem;
  padding: 0.095rem 0.5rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.suggestions-item:hover {
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  background-color: hsl(192, 45%, 56%);
}

.location__name {
  margin-inline: 1rem;
  text-align: left;
  color: rgb(226, 240, 32);
  letter-spacing: 0.12rem;
}

.location__dates {
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 0.1rem;
}

.location__dates-item {
  border: 1px solid rgba(239, 239, 239, 0.35);
  padding: 1rem;
  width: 100%;
  border-radius: 0.75rem;
  text-align: left;
  justify-content: left;
  color: rgb(226, 240, 32);
  margin: 0.5rem 0.75rem;
}

.location__dates-item h4 {
  margin-bottom: 0.35rem;
}

.location__dates-item span {
  color: white;
}

.residents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.resident__date-item {
  max-width: 100%;
  background-color: hsla(192, 59%, 42%, 0.35);
  margin: 2rem 1rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 0 1rem 0;
  border-radius: 0.5rem;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.resident__date-item:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.resident__image img {
  width: 100%;
  opacity: 0.9;
  border-radius: 0.5rem 0.5rem 0 0;
}

.resident__name-item {
  font-size: 1.2rem;
  margin: 0.45rem 0.25rem;
  padding: 0.45rem 0.25rem;
  color: white;
  background-color: hsla(192, 59%, 42%, 0.5);
  letter-spacing: 0.1rem;
}

.date__basic {
  border-radius: 1rem;
  border: 1px solid rgba(239, 239, 239, 0.25);
  padding: 1rem;
  margin: 0.75rem;
  letter-spacing: 0.05rem;
  text-align: left;
}

.date__basic :is(.resident__origin-name, .resident__species) {
  display: unset;
}

.date__basic h6 {
  padding: 0.2rem;

  color: rgb(226, 240, 32);
}

.date__basic h6 span {
  color: white;
}

.resident__episode {
  display: flex;
  flex-wrap: wrap;
}

.date__basic .status {
  margin-inline: auto 1.5rem;
}

.date__basic span {
  display: inline-flex;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
}

.Alive {
  background: #31a703;
  color: #31a703;
}

.Dead {
  background: #d34b4b;
  color: #d34b4b;
}

.unknown {
  background: #afafaf;
  color: #afafaf;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 35rem;
    margin-inline: auto;
    padding: 0 1rem;
    text-align: center;
  }

  .residents {
    max-width: 30rem;
    margin-inline: auto;
  }

  .serie__name {
    font-size: 2.7rem;
  }

  .resident__name-item {
    font-size: 1.5rem;
    margin: 0.75rem 1.25rem;
  }

  .date__basic {
    border-radius: 1rem;
    padding: 1.2rem;
    margin: 1.1rem;
    font-size: 1.125rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .resident__date-item {
    margin: 1rem;
  }

  .container {
    max-width: 50rem;
    padding: 0 1.5rem;
  }

  .serie__name {
    font-size: 3.8rem;
  }

  .form {
    padding: 0.2rem;
    margin: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form input {
    padding: 1.05rem;
    width: 40%;
    height: 1.5rem;
  }

  .form button {
    height: 2.5rem;
    padding: 0.5rem;
  }

  .location__dates-item {
    display: flex;
    justify-content: space-between;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 850px) {
  .container {
    max-width: 95%;
    padding: 0 0.5rem;
  }

  .residents {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .residents__dates {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .resident__date-item {
    max-width: 100%;
    margin: 0.65rem;
    padding: 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;
  }

  .wrapper__resident {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .resident__date-item img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 0 1.75rem 1.75rem 0;
  }

  .resident__name {
    position: absolute;
  }

  .resident__name-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 6rem;
    top: 7rem;
    border-radius: 2rem;
    padding: 0.2rem 0.75rem;
    font-size: 1.6rem;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  }

  .date__basic {
    max-width: 20rem;
    border-radius: 1rem;
    padding: 1.75rem 1.5rem;
    margin: 1rem;
    font-size: 1.3rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .form {
    margin-inline: auto;
    max-width: 80%;
    /* text-align: center; */
  }

  .location__dates-item {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin-inline: auto;
  }

  .location__name {
    margin-inline: 1rem;
    text-align: left;
    color: rgb(226, 240, 32);

    max-width: 70%;
    margin-inline: auto;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
